<!DOCTYPE html>
<html ng-app="cookieApp" >
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<div ng-controller="MainController">
		<label>Dime algo y lo recordare :D</label>
		<input ng-model="value" type="" name="">
		<button ng-click="saveCookie(value)">Recordar</button>
		<h2>Lo ultimo que dijiste fue: {{getCookie()}}</h2>		
	</div>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript">
		angular.module('cookieApp', []).controller('MainController', ['$scope', 'cookie', function($scope, cookie){
			$scope.value ="";
			$scope.saveCookie = function(value){
			cookie.write('cap_value', value)			
			}
			$scope.getCookie = function(){
				return cookie.read('cap_value');
			}
		}]).
		factory('cookie', [function(){
			return{
				read: function(name){
					var i, c, nameEQ = name + "=";
					var ca = document.cookie.split(';');
					for(i=0; i<ca.length; i++){
						c = ca[i];
						while(c.charAt(0)==' '){
							c = c.substring(1, c.length);
						}
						if (c.indexOf(nameEQ) == 0) {
							return c.substring(nameEQ.length, c.length);
						}
					}
					return  "";
				},
				write: function(name, value){
					date = new Date();
					date.setTime(date.getTime() + (72*60*60*1000));
					expires = "; expires="+date.toGMTString();
					document.cookie = name + "=" + value + expires + "; path=/";
				}
			}
		}]);
		
	</script>

</body>
</html>